html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
header{
    width: 100%;
    height: 80px;
    background-color: #c83cff;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction:row;
    padding:8px;
}
h1{
    padding: 8px;
}
nav{
    
    height: 100%;
    width: 400px;
  
    display: flex;
    /* dirção do flex - row (linha) , column (coluna) */
    flex-direction: row;
  
    align-items: center;
    justify-content: space-around;
    
}
    

a{
    width: max-content;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    color: black;
    margin:10px;
    border:20px, black, 0;
    padding: 10px;
    border: solid 3px black;
    font-weight: bold;
    text-decoration: none;
}
footer{
    width: 100%;
    height: 80px;
    background-color: #c83cff;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction:row;
    padding:8px;
}
.creditos{

    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: column;
    margin: 50px;
    text-align: center;
 
}